USE [BabyShopDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BasketItems]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasketItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BasketId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[DiscountPerUnit] [decimal](18, 2) NULL,
	[ProductId1] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_BasketItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Baskets]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Baskets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[DiscountCode] [nvarchar](50) NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[DiscountPercentage] [decimal](5, 2) NULL,
	[ExpiredAt] [datetime2](7) NULL,
	[SessionId] [nvarchar](100) NULL,
	[IpAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Baskets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Slug] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[ParentCategoryId] [int] NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deliveries]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deliveries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[PostalCode] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[EstimatedDeliveryDate] [datetime2](7) NULL,
	[ActualDeliveryDate] [datetime2](7) NULL,
	[TrackingNumber] [nvarchar](50) NULL,
	[Carrier] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Deliveries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventories]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[CurrentStock] [int] NOT NULL,
	[ReservedStock] [int] NOT NULL,
	[MinimumStockLevel] [int] NOT NULL,
	[MaximumStockLevel] [int] NOT NULL,
	[ReorderPoint] [int] NOT NULL,
	[Location] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Inventories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[ProductId1] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OrderNumber] [nvarchar](20) NOT NULL,
	[ShippingAddress] [nvarchar](500) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[ShippingCost] [decimal](18, 2) NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[CustomerNote] [nvarchar](500) NULL,
	[AdminNote] [nvarchar](500) NULL,
	[PaidAt] [datetime2](7) NULL,
	[ShippedAt] [datetime2](7) NULL,
	[DeliveredAt] [datetime2](7) NULL,
	[CancellationReason] [nvarchar](500) NULL,
	[IsReminderSent] [bit] NOT NULL,
	[ReminderSentAt] [datetime2](7) NULL,
	[IsArchived] [bit] NOT NULL,
	[ArchivedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Authority] [nvarchar](50) NULL,
	[ReferenceNumber] [nvarchar](100) NULL,
	[PaidAt] [datetime2](7) NULL,
	[RefundedAt] [datetime2](7) NULL,
	[RefundReason] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Module] [nvarchar](50) NOT NULL,
	[Group] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Slug] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Gender] [nvarchar](50) NULL,
	[AgeRange] [nvarchar](10) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[SoldCount] [int] NOT NULL,
	[MainImage] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[PermissionId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](11) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[IsPhoneVerified] [bit] NOT NULL,
	[VerificationCode] [nvarchar](6) NULL,
	[VerificationCodeExpiry] [datetime2](7) NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Baskets] ADD  DEFAULT (N'Active') FOR [Status]
GO
ALTER TABLE [dbo].[Baskets] ADD  DEFAULT ((0.0)) FOR [TotalPrice]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Inventories] ADD  DEFAULT ((0)) FOR [CurrentStock]
GO
ALTER TABLE [dbo].[Inventories] ADD  DEFAULT ((0)) FOR [ReservedStock]
GO
ALTER TABLE [dbo].[Inventories] ADD  DEFAULT ((5)) FOR [MinimumStockLevel]
GO
ALTER TABLE [dbo].[Inventories] ADD  DEFAULT ((1000)) FOR [MaximumStockLevel]
GO
ALTER TABLE [dbo].[Inventories] ADD  DEFAULT ((10)) FOR [ReorderPoint]
GO
ALTER TABLE [dbo].[Inventories] ADD  DEFAULT (N'Main Warehouse') FOR [Location]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [SoldCount]
GO
ALTER TABLE [dbo].[BasketItems]  WITH CHECK ADD  CONSTRAINT [FK_BasketItems_Baskets_BasketId] FOREIGN KEY([BasketId])
REFERENCES [dbo].[Baskets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BasketItems] CHECK CONSTRAINT [FK_BasketItems_Baskets_BasketId]
GO
ALTER TABLE [dbo].[BasketItems]  WITH CHECK ADD  CONSTRAINT [FK_BasketItems_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[BasketItems] CHECK CONSTRAINT [FK_BasketItems_Products_ProductId]
GO
ALTER TABLE [dbo].[BasketItems]  WITH CHECK ADD  CONSTRAINT [FK_BasketItems_Products_ProductId1] FOREIGN KEY([ProductId1])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[BasketItems] CHECK CONSTRAINT [FK_BasketItems_Products_ProductId1]
GO
ALTER TABLE [dbo].[Baskets]  WITH CHECK ADD  CONSTRAINT [FK_Baskets_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Baskets] CHECK CONSTRAINT [FK_Baskets_Users_UserId]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Categories_ParentCategoryId] FOREIGN KEY([ParentCategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Categories_ParentCategoryId]
GO
ALTER TABLE [dbo].[Deliveries]  WITH CHECK ADD  CONSTRAINT [FK_Deliveries_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Deliveries] CHECK CONSTRAINT [FK_Deliveries_Orders_OrderId]
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD  CONSTRAINT [FK_Inventories_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventories] CHECK CONSTRAINT [FK_Inventories_Products_ProductId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products_ProductId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products_ProductId1] FOREIGN KEY([ProductId1])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products_ProductId1]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_UserId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders_OrderId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryId]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Permissions_PermissionId] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Permissions_PermissionId]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserId]
GO
/****** Object:  StoredProcedure [dbo].[AddBasketItem]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddBasketItem]
    @BasketId INT,
    @ProductId INT,
    @Quantity INT,
    @UnitPrice DECIMAL(18,2),
    @Id INT OUTPUT
AS
BEGIN
    INSERT INTO BasketItems (BasketId, ProductId, Quantity, UnitPrice, IsDeleted, CreatedAt)
    VALUES (@BasketId, @ProductId, @Quantity, @UnitPrice, 0, GETDATE())
    
    SET @Id = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[ApplyDiscountToBasket]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ApplyDiscountToBasket]
    @BasketId INT,
    @DiscountCode NVARCHAR(50),
    @DiscountAmount DECIMAL(18,2),
    @DiscountPercentage DECIMAL(18,2)
AS
BEGIN
    UPDATE Baskets 
    SET DiscountCode = @DiscountCode,
        DiscountAmount = @DiscountAmount,
        DiscountPercentage = @DiscountPercentage,
        UpdatedAt = GETDATE()
    WHERE Id = @BasketId
END
GO
/****** Object:  StoredProcedure [dbo].[CategoryExists]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CategoryExists]
    @CategoryId INT
AS
BEGIN
    SELECT CASE 
        WHEN EXISTS (SELECT 1 FROM Categories WHERE Id = @CategoryId AND IsDeleted = 0) 
        THEN 1 ELSE 0 
    END
END
GO
/****** Object:  StoredProcedure [dbo].[CheckEmailExists]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckEmailExists]
    @Email NVARCHAR(100)
AS
BEGIN
    SELECT CASE 
        WHEN EXISTS (SELECT 1 FROM Users WHERE Email = @Email AND IsDeleted = 0) 
        THEN 1 ELSE 0 
    END
END
GO
/****** Object:  StoredProcedure [dbo].[CheckPhoneExists]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckPhoneExists]
    @PhoneNumber NVARCHAR(20)
AS
BEGIN
    SELECT CASE 
        WHEN EXISTS (SELECT 1 FROM Users WHERE PhoneNumber = @PhoneNumber AND IsDeleted = 0) 
        THEN 1 ELSE 0 
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ClearBasket]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClearBasket]
    @BasketId INT
AS
BEGIN
    DELETE FROM BasketItems WHERE BasketId = @BasketId
END
GO
/****** Object:  StoredProcedure [dbo].[DecreaseStock]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DecreaseStock]
    @ProductId INT,
    @Quantity INT
AS
BEGIN
    UPDATE Inventories 
    SET CurrentStock = CurrentStock - @Quantity,
        UpdatedAt = GETDATE()
    WHERE ProductId = @ProductId AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteBasket]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteBasket]
    @Id INT
AS
BEGIN
    UPDATE Baskets SET IsDeleted = 1 WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteBasketItem]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteBasketItem]
    @Id INT
AS
BEGIN
    DELETE FROM BasketItems WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteDelivery]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteDelivery]
    @Id INT
AS
BEGIN
    UPDATE Deliveries SET IsDeleted = 1 WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteInventory]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteInventory]
    @Id INT
AS
BEGIN
    UPDATE Inventories SET IsDeleted = 1 WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[DeletePayment]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeletePayment]
    @Id INT
AS
BEGIN
    UPDATE Payments SET IsDeleted = 1 WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteProduct]
    @Id INT
AS
BEGIN
    UPDATE Products SET IsDeleted = 1 WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteRole]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteRole]
    @Id INT
AS
BEGIN
    UPDATE Roles SET IsDeleted = 1 WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUser]
    @Id INT
AS
BEGIN
    UPDATE Users SET IsDeleted = 1 WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[GetActiveBasketByUserId]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetActiveBasketByUserId]
    @UserId INT
AS
BEGIN
    SELECT b.*, bi.*, p.*
    FROM Baskets b
    LEFT JOIN BasketItems bi ON b.Id = bi.BasketId
    LEFT JOIN Products p ON bi.ProductId = p.Id
    WHERE b.UserId = @UserId AND b.Status = 'Active' AND b.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllInventoriesWithProduct]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllInventoriesWithProduct]
AS
BEGIN
    SELECT i.*, p.*
    FROM Inventories i
    LEFT JOIN Products p ON i.ProductId = p.Id
    WHERE i.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllProductsWithCategory]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllProductsWithCategory]
AS
BEGIN
    SELECT p.*, c.*, i.*
    FROM Products p
    LEFT JOIN Categories c ON p.CategoryId = c.Id
    LEFT JOIN Inventories i ON p.Id = i.ProductId
    WHERE p.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllRoles]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllRoles]
AS
BEGIN
    SELECT * FROM Roles WHERE IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllUsers]
AS
BEGIN
    SELECT * FROM Users WHERE IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetBasketItemByProduct]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBasketItemByProduct]
    @BasketId INT,
    @ProductId INT
AS
BEGIN
    SELECT * FROM BasketItems 
    WHERE BasketId = @BasketId AND ProductId = @ProductId
END
GO
/****** Object:  StoredProcedure [dbo].[GetBasketWithItems]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBasketWithItems]
    @BasketId INT
AS
BEGIN
    SELECT b.*, bi.*, p.*
    FROM Baskets b
    LEFT JOIN BasketItems bi ON b.Id = bi.BasketId
    LEFT JOIN Products p ON bi.ProductId = p.Id
    WHERE b.Id = @BasketId AND b.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetCategoryWithProducts]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCategoryWithProducts]
    @Id INT
AS
BEGIN
    SELECT c.*, p.*
    FROM Categories c
    LEFT JOIN Products p ON c.Id = p.CategoryId
    WHERE c.Id = @Id AND c.IsDeleted = 0 AND p.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetCategoryWithSubCategories]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCategoryWithSubCategories]
    @Id INT
AS
BEGIN
    SELECT c.*, sc.*
    FROM Categories c
    LEFT JOIN Categories sc ON c.Id = sc.ParentCategoryId
    WHERE c.Id = @Id AND c.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetDeliveryByOrderId]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDeliveryByOrderId]
    @OrderId INT
AS
BEGIN
    SELECT * FROM Deliveries 
    WHERE OrderId = @OrderId AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetInventoryByProductId]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetInventoryByProductId]
    @ProductId INT
AS
BEGIN
    SELECT i.*, p.*
    FROM Inventories i
    LEFT JOIN Products p ON i.ProductId = p.Id
    WHERE i.ProductId = @ProductId AND i.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetLowStockInventories]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetLowStockInventories]
AS
BEGIN
    SELECT i.*, p.*
    FROM Inventories i
    LEFT JOIN Products p ON i.ProductId = p.Id
    WHERE i.IsDeleted = 0 AND i.CurrentStock <= i.ReorderPoint
END
GO
/****** Object:  StoredProcedure [dbo].[GetLowStockProducts]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetLowStockProducts]
    @Threshold INT
AS
BEGIN
    SELECT p.*, i.*
    FROM Products p
    INNER JOIN Inventories i ON p.Id = i.ProductId
    WHERE p.IsDeleted = 0 AND i.CurrentStock <= @Threshold
END
GO
/****** Object:  StoredProcedure [dbo].[GetMainCategories]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMainCategories]
AS
BEGIN
    SELECT * FROM Categories 
    WHERE ParentCategoryId IS NULL AND IsActive = 1 AND IsDeleted = 0 
    ORDER BY DisplayOrder
END
GO
/****** Object:  StoredProcedure [dbo].[GetOldDeliveredOrders]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOldDeliveredOrders]
    @OlderThan DATETIME
AS
BEGIN
    SELECT o.*, oi.*
    FROM Orders o
    LEFT JOIN OrderItems oi ON o.Id = oi.OrderId
    WHERE o.IsDeleted = 0 AND o.Status = 'Delivered' AND o.CreatedAt < @OlderThan
END
GO
/****** Object:  StoredProcedure [dbo].[GetOrCreateActiveBasket]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOrCreateActiveBasket]
    @UserId INT,
    @Id INT OUTPUT
AS
BEGIN
    DECLARE @BasketId INT
    
    SELECT @BasketId = Id FROM Baskets 
    WHERE UserId = @UserId AND Status = 'Active' AND IsDeleted = 0
    
    IF @BasketId IS NULL
    BEGIN
        INSERT INTO Baskets (UserId, Status, IsDeleted, CreatedAt)
        VALUES (@UserId, 'Active', 0, GETDATE())
        
        SET @BasketId = SCOPE_IDENTITY()
    END
    
    SET @Id = @BasketId
END
GO
/****** Object:  StoredProcedure [dbo].[GetOrdersByDateRange]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOrdersByDateRange]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SELECT * FROM Orders 
    WHERE CreatedAt >= @StartDate AND CreatedAt <= @EndDate AND IsDeleted = 0 
    ORDER BY CreatedAt DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GetOrdersByUser]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOrdersByUser]
    @UserId INT
AS
BEGIN
    SELECT * FROM Orders 
    WHERE UserId = @UserId AND IsDeleted = 0 
    ORDER BY CreatedAt DESC
END
GO
/****** Object:  StoredProcedure [dbo].[GetOrderTotalAmount]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOrderTotalAmount]
    @OrderId INT
AS
BEGIN
    SELECT ISNULL(TotalAmount, 0) FROM Orders WHERE Id = @OrderId AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetOrderWithItems]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOrderWithItems]
    @Id INT
AS
BEGIN
    SELECT o.*, oi.*, p.*, d.*
    FROM Orders o
    LEFT JOIN OrderItems oi ON o.Id = oi.OrderId
    LEFT JOIN Payments p ON o.Id = p.OrderId
    LEFT JOIN Deliveries d ON o.Id = d.OrderId
    WHERE o.Id = @Id AND o.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetPaymentByAuthority]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPaymentByAuthority]
    @Authority NVARCHAR(100)
AS
BEGIN
    SELECT p.*, o.*
    FROM Payments p
    LEFT JOIN Orders o ON p.OrderId = o.Id
    WHERE p.Authority = @Authority AND p.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetPaymentByOrderId]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPaymentByOrderId]
    @OrderId INT
AS
BEGIN
    SELECT p.*, o.*
    FROM Payments p
    LEFT JOIN Orders o ON p.OrderId = o.Id
    WHERE p.OrderId = @OrderId AND p.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetPendingDeliveries]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPendingDeliveries]
AS
BEGIN
    SELECT * FROM Deliveries 
    WHERE (Status = 'Pending' OR Status = 'Processing') AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetProductByIdWithCategory]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProductByIdWithCategory]
    @Id INT
AS
BEGIN
    SELECT p.*, c.*, i.*
    FROM Products p
    LEFT JOIN Categories c ON p.CategoryId = c.Id
    LEFT JOIN Inventories i ON p.Id = i.ProductId
    WHERE p.Id = @Id AND p.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetProductsByAgeRange]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProductsByAgeRange]
    @AgeRange INT
AS
BEGIN
    SELECT p.*, c.*, i.*
    FROM Products p
    LEFT JOIN Categories c ON p.CategoryId = c.Id
    LEFT JOIN Inventories i ON p.Id = i.ProductId
    WHERE p.AgeRange = @AgeRange AND p.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetProductsByCategory]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProductsByCategory]
    @CategoryId INT
AS
BEGIN
    SELECT p.*, c.*, i.*
    FROM Products p
    LEFT JOIN Categories c ON p.CategoryId = c.Id
    LEFT JOIN Inventories i ON p.Id = i.ProductId
    WHERE p.CategoryId = @CategoryId AND p.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetProductsByGender]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProductsByGender]
    @Gender INT
AS
BEGIN
    SELECT p.*, c.*, i.*
    FROM Products p
    LEFT JOIN Categories c ON p.CategoryId = c.Id
    LEFT JOIN Inventories i ON p.Id = i.ProductId
    WHERE p.Gender = @Gender AND p.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetRoleByName]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRoleByName]
    @Name NVARCHAR(100)
AS
BEGIN
    SELECT * FROM Roles WHERE Name = @Name AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetRoleWithPermissions]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetRoleWithPermissions]
    @RoleId INT
AS
BEGIN
    SELECT r.*, p.*
    FROM Roles r
    LEFT JOIN RolePermissions rp ON r.Id = rp.RoleId
    LEFT JOIN Permissions p ON rp.PermissionId = p.Id
    WHERE r.Id = @RoleId AND r.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserByEmail]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserByEmail]
    @Email NVARCHAR(100)
AS
BEGIN
    SELECT * FROM Users 
    WHERE Email = @Email AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserById]
    @Id INT
AS
BEGIN
    SELECT * FROM Users WHERE Id = @Id AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserByPhoneNumber]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserByPhoneNumber]
    @PhoneNumber NVARCHAR(20)
AS
BEGIN
    SELECT * FROM Users 
    WHERE PhoneNumber = @PhoneNumber AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetUsersCount]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsersCount]
AS
BEGIN
    SELECT COUNT(*) FROM Users WHERE IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GetUsersPaged]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsersPaged]
    @Page INT,
    @PageSize INT
AS
BEGIN
    DECLARE @Skip INT = (@Page - 1) * @PageSize
    
    SELECT * FROM Users 
    WHERE IsDeleted = 0 
    ORDER BY Id 
    OFFSET @Skip ROWS 
    FETCH NEXT @PageSize ROWS ONLY
END
GO
/****** Object:  StoredProcedure [dbo].[HasSubCategories]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HasSubCategories]
    @Id INT
AS
BEGIN
    SELECT CASE WHEN EXISTS (SELECT 1 FROM Categories WHERE ParentCategoryId = @Id AND IsDeleted = 0) THEN 1 ELSE 0 END
END
GO
/****** Object:  StoredProcedure [dbo].[IncreaseStock]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IncreaseStock]
    @ProductId INT,
    @Quantity INT
AS
BEGIN
    UPDATE Inventories 
    SET CurrentStock = CurrentStock + @Quantity,
        UpdatedAt = GETDATE()
    WHERE ProductId = @ProductId AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[InsertCategory]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertCategory]
    @Name NVARCHAR(200),
    @Slug NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @ParentCategoryId INT = NULL,
    @DisplayOrder INT,
    @IsActive BIT,
    @Id INT OUTPUT
AS
BEGIN
    INSERT INTO Categories (Name, Slug, Description, ParentCategoryId, DisplayOrder, IsActive, IsDeleted, CreatedAt)
    VALUES (@Name, @Slug, @Description, @ParentCategoryId, @DisplayOrder, @IsActive, 0, GETDATE())
    
    SET @Id = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[InsertDelivery]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertDelivery]
    @OrderId INT,
    @Status NVARCHAR(50),
    @Id INT OUTPUT
AS
BEGIN
    INSERT INTO Deliveries (OrderId, Status, IsDeleted, CreatedAt)
    VALUES (@OrderId, @Status, 0, GETDATE())
    
    SET @Id = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[InsertInventory]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertInventory]
    @ProductId INT,
    @CurrentStock INT,
    @ReservedStock INT,
    @ReorderPoint INT,
    @Id INT OUTPUT
AS
BEGIN
    INSERT INTO Inventories (ProductId, CurrentStock, ReservedStock, ReorderPoint, IsDeleted, CreatedAt)
    VALUES (@ProductId, @CurrentStock, @ReservedStock, @ReorderPoint, 0, GETDATE())
    
    SET @Id = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[InsertPayment]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertPayment]
    @OrderId INT,
    @Amount DECIMAL(18,2),
    @PaymentMethod NVARCHAR(50),
    @Authority NVARCHAR(100),
    @Id INT OUTPUT
AS
BEGIN
    INSERT INTO Payments (OrderId, Amount, PaymentMethod, Authority, Status, IsDeleted, CreatedAt)
    VALUES (@OrderId, @Amount, @PaymentMethod, @Authority, 'Pending', 0, GETDATE())
    
    SET @Id = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[InsertProduct]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertProduct]
    @Name NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @Price DECIMAL(18,2),
    @CategoryId INT,
    @Gender INT,
    @AgeRange INT,
    @ImageUrl NVARCHAR(500),
    @Id INT OUTPUT
AS
BEGIN
    INSERT INTO Products (Name, Description, Price, CategoryId, Gender, AgeRange, ImageUrl, IsDeleted, CreatedAt)
    VALUES (@Name, @Description, @Price, @CategoryId, @Gender, @AgeRange, @ImageUrl, 0, GETDATE())
    
    SET @Id = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[InsertRole]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertRole]
    @Name NVARCHAR(100),
    @Id INT OUTPUT
AS
BEGIN
    INSERT INTO Roles (Name, IsDeleted, CreatedAt)
    VALUES (@Name, 0, GETDATE())
    
    SET @Id = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[InsertUser]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertUser]
    @PhoneNumber NVARCHAR(20),
    @Email NVARCHAR(100),
    @FullName NVARCHAR(100),
    @PasswordHash NVARCHAR(255),
    @Id INT OUTPUT
AS
BEGIN
    INSERT INTO Users (
        PhoneNumber, 
        Email, 
        FullName, 
        PasswordHash,
        IsPhoneVerified,
        IsDeleted, 
        CreatedAt
    )
    VALUES (
        @PhoneNumber, 
        @Email, 
        @FullName, 
        @PasswordHash,
        0,
        0,
        GETDATE()
    )
    
    SET @Id = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[IsSlugUnique]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IsSlugUnique]
    @Slug NVARCHAR(200),
    @ExcludeId INT = NULL
AS
BEGIN
    IF @ExcludeId IS NULL
        SELECT CASE WHEN EXISTS (SELECT 1 FROM Categories WHERE Slug = @Slug AND IsDeleted = 0) THEN 0 ELSE 1 END
    ELSE
        SELECT CASE WHEN EXISTS (SELECT 1 FROM Categories WHERE Slug = @Slug AND Id != @ExcludeId AND IsDeleted = 0) THEN 0 ELSE 1 END
END
GO
/****** Object:  StoredProcedure [dbo].[RefundPayment]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RefundPayment]
    @Id INT,
    @Reason NVARCHAR(500)
AS
BEGIN
    UPDATE Payments 
    SET Status = 'Refunded',
        RefundedAt = GETDATE(),
        RefundReason = @Reason,
        UpdatedAt = GETDATE()
    WHERE Id = @Id AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[RemoveDiscountFromBasket]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveDiscountFromBasket]
    @BasketId INT
AS
BEGIN
    UPDATE Baskets 
    SET DiscountCode = NULL,
        DiscountAmount = NULL,
        DiscountPercentage = NULL,
        UpdatedAt = GETDATE()
    WHERE Id = @BasketId
END
GO
/****** Object:  StoredProcedure [dbo].[SearchProducts]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchProducts]
    @Term NVARCHAR(100)
AS
BEGIN
    SELECT p.*, c.*
    FROM Products p
    LEFT JOIN Categories c ON p.CategoryId = c.Id
    WHERE (p.Name LIKE '%' + @Term + '%' OR p.Description LIKE '%' + @Term + '%') 
      AND p.IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateBasketItem]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateBasketItem]
    @Id INT,
    @Quantity INT
AS
BEGIN
    UPDATE BasketItems 
    SET Quantity = @Quantity, UpdatedAt = GETDATE()
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateBasketTotalPrice]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateBasketTotalPrice]
    @BasketId INT,
    @TotalPrice DECIMAL(18,2)
AS
BEGIN
    UPDATE Baskets 
    SET TotalPrice = @TotalPrice, UpdatedAt = GETDATE()
    WHERE Id = @BasketId
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateCategory]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateCategory]
    @Id INT,
    @Name NVARCHAR(200),
    @Slug NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @ParentCategoryId INT = NULL,
    @DisplayOrder INT,
    @IsActive BIT
AS
BEGIN
    UPDATE Categories 
    SET Name = @Name,
        Slug = @Slug,
        Description = @Description,
        ParentCategoryId = @ParentCategoryId,
        DisplayOrder = @DisplayOrder,
        IsActive = @IsActive,
        UpdatedAt = GETDATE()
    WHERE Id = @Id AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateDeliveryStatus]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateDeliveryStatus]
    @Id INT,
    @Status NVARCHAR(50),
    @TrackingNumber NVARCHAR(100),
    @ActualDeliveryDate DATETIME
AS
BEGIN
    UPDATE Deliveries
    SET Status = @Status,
        TrackingNumber = @TrackingNumber,
        ActualDeliveryDate = @ActualDeliveryDate,
        UpdatedAt = GETDATE()
    WHERE Id = @Id AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateInventory]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateInventory]
    @Id INT,
    @ProductId INT,
    @CurrentStock INT,
    @ReservedStock INT,
    @ReorderPoint INT
AS
BEGIN
    UPDATE Inventories 
    SET ProductId = @ProductId,
        CurrentStock = @CurrentStock,
        ReservedStock = @ReservedStock,
        ReorderPoint = @ReorderPoint,
        UpdatedAt = GETDATE()
    WHERE Id = @Id AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateLastLogin]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateLastLogin]
    @UserId INT
AS
BEGIN
    UPDATE Users SET LastLoginAt = GETDATE() WHERE Id = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[UpdatePayment]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePayment]
    @Id INT,
    @Status NVARCHAR(50),
    @ReferenceNumber NVARCHAR(100),
    @PaidAt DATETIME,
    @RefundedAt DATETIME,
    @RefundReason NVARCHAR(500)
AS
BEGIN
    UPDATE Payments 
    SET Status = @Status,
        ReferenceNumber = @ReferenceNumber,
        PaidAt = @PaidAt,
        RefundedAt = @RefundedAt,
        RefundReason = @RefundReason,
        UpdatedAt = GETDATE()
    WHERE Id = @Id AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateProduct]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateProduct]
    @Id INT,
    @Name NVARCHAR(200),
    @Description NVARCHAR(MAX),
    @Price DECIMAL(18,2),
    @CategoryId INT,
    @Gender INT,
    @AgeRange INT,
    @ImageUrl NVARCHAR(500)
AS
BEGIN
    UPDATE Products 
    SET Name = @Name,
        Description = @Description,
        Price = @Price,
        CategoryId = @CategoryId,
        Gender = @Gender,
        AgeRange = @AgeRange,
        ImageUrl = @ImageUrl,
        UpdatedAt = GETDATE()
    WHERE Id = @Id AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateRole]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateRole]
    @Id INT,
    @Name NVARCHAR(100)
AS
BEGIN
    UPDATE Roles 
    SET Name = @Name, UpdatedAt = GETDATE()
    WHERE Id = @Id AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser]
    @Id INT,
    @PhoneNumber NVARCHAR(20),
    @Email NVARCHAR(100),
    @FullName NVARCHAR(100)
AS
BEGIN
    UPDATE Users 
    SET PhoneNumber = @PhoneNumber, 
        Email = @Email, 
        FullName = @FullName
    WHERE Id = @Id AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateVerificationCode]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateVerificationCode]
    @UserId INT,
    @Code NVARCHAR(10)
AS
BEGIN
    UPDATE Users 
    SET VerificationCode = @Code
    WHERE Id = @UserId
END
GO
/****** Object:  StoredProcedure [dbo].[VerifyPayment]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerifyPayment]
    @Id INT,
    @ReferenceNumber NVARCHAR(100)
AS
BEGIN
    UPDATE Payments 
    SET Status = 'Verified',
        ReferenceNumber = @ReferenceNumber,
        PaidAt = GETDATE(),
        UpdatedAt = GETDATE()
    WHERE Id = @Id AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[VerifyPhone]    Script Date: 5/11/2026 11:17:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerifyPhone]
    @UserId INT
AS
BEGIN
    UPDATE Users SET IsPhoneVerified = 1 WHERE Id = @UserId
END
GO
